<% if authenticated? %>
<% is_favorited = Current.session&.user.favorite?(restaurant) %> 
<button class="btn btn-sm <%= is_favorited ? 'btn-danger' : 'btn-outline-danger' %>" 
          data-controller="favorite"
          data-action="click->favorite#toggle"
          data-favorite-target="button"
          data-restaurant-id="<%= restaurant.id %>">
    <%= is_favorited ? 'Unfavorite' : 'Favorite' %>
  </button>
<% else %>
  <button class="btn btn-sm btn-outline-danger" 
          data-bs-toggle="modal" 
          data-bs-target="#loginModal">
    Favorite
  </button>
<% end %>
