<footer class="text-muted" id="headerFooter">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#" class=" btn btn-tertiary">Back to top</a>
    </p>
    <p class="mb-1 text-white">Alamo Tech Collective</p>
  </div>
</footer>
