<div class="container p-1">
  <%= link_to "Go back to #{@restaurant.name}", restaurant_path(@restaurant), class: 'btn btn-secondary', id:"restaurantName" %>
<h1 class="text-center">New Review</h1>
<%= render 'form', review: @review %>
<%= link_to "Go back to #{@restaurant.name}", restaurant_path(@restaurant), class: 'btn btn-secondary', id:"restaurantName" %>
</div>